* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: 300;
}

h2,h3 {
    font-size: 40px;
    font-weight: 300;
}

a { 
    text-decoration: none;
}

p {
    font-size: 20px;
}

ul {
    list-style-type:  none;
  }

body {
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.header {
    height: 100%;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    width: 80%
}

.header__img {
    margin-top: 50px;
    width: 350px;
    height: 500px;
}

.main {
    margin: 150px 0;
}

.main__content {
    padding: 100px 0;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.main__content-text {
    font-size: 30px;
    line-height: 1.5;
}

